<h1><%= @user.name %></h1>
<%= link_to "Edit User", edit_user_path %>
<br />
<%= link_to "Delete User", user_path(@user), method: :delete %>
<hr>



<% @posts.each do |f| %>
  <ul> 
    <li> 
      <%= link_to f.title, post_path(f) %>
    </li>
  </ul>
<% end %> 


<%= link_to "New post", new_post_path(user_id: @user.id) %>
<br />
<%= link_to "Home", users_path %>

