<% if @post.errors.any? %>
  <h1>Errors</h1>
  <%= @post.errors.values.join(',') %>
<% end %>

<%= form_for @post do |u| %>
  <%= u.label :title %>
  <%= u.text_field :title %>
<br>
  <%= u.label :body %>
  <%= u.text_area :body %>

  <%= u.hidden_field :user_id, value: user_id %>
  <%= u.submit %>
<%end%>
